 .custom-row {
    height: 18px !important;
  }

 



  


  .mat-row:hover {
    background-color: #ebf4ff; cursor: pointer;
  }
  
.mat-row td{
 height: 18px;
  line-height: 5%;
  vertical-align: middle;

  }
  .custom-table {
    width: 100%;
     
  }  .mat-cell-header  {
    padding-top: 3px;
    display: flex;
    align-items: center;
    text-decoration: underline;
    background-color: blueviolet;
  }
 



  .mat-cell {
    padding-top: 3px;
    display: flex;
    align-items: center;
    background-color: blueviolet;
  }

  

  th {
    text-decoration: underline;
    background-color: #abd8ab !important;
    height: 5px;
    /* Set your desired background color for the header row */
 
    /* Set your desired text color for the header row */
    font-weight: 300;
    font: bolder;
    max-height: 5px;
    font-family: Verdana;
    height: 5%;
    background-color: blueviolet;
  }
