.mat-card{
  margin: 1%;
  padding:2px ;
  width: 25px;
background-color: rgb(0, 0, 0);

}
.mat-card-content{
  padding-left: 12px;
}


th.mat-header-cell {
  text-align: center !important;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.search {
  height: 28px;
  border: none;
  background: transparent;
  margin: 0;
  padding: 15px 28px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}
form {
  color: #555;
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
}




/* input[type="search"] {
  border: none;

  background: transparent;
  padding-bottom: 15px;
  margin-bottom: 15;
height: 35px;
  text-align: left; padding: 7px 338px;
  font-size: 18px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}
input[type="search"]::placeholder {
  color: #bbb;
} */

input.mat-input-element{ margin-top: 0; padding-bottom: 15px;}

.itt {
  width: 100%;
  padding: 12px 350px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.it:focus {
  border: 3px solid #555;
}


th{
  text-align: center !important;
  background-color: #EEEEEE !important;
align-items: flex-end;
color: #59686B;
  width: 250px;
height:  18px  !important;

max-width: 300px;
text-align: center;
align-items: center;
text-align: center !important;
justify-content: center;
} 
.td {
  height: 15px !important;
  
}
.mat-warn {
  color:#AE2323 ;
  width: 30px;
}

mat-raised-button  /deep/ .mat-raised-button-focus-overlay {

  border-radius: 0 px !important;; 
}
.bbb
 {
  display: flex;
  justify-content: center;
  
  border-radius: 0 px !important;
  height: 48px;
  text-align: center;
  float: right;
  margin-left: 850px;
} 
.example{
  width: 700px !important;
  height: 10px;
  padding: 45px; 

}

.clearable-input {
  padding-left: 20px; /* Space for the clear button */
font-size: 25px;
  height: 45px;
  text-align: left !important;
  width: 280%;

}

im1{
  transform: scale(1);
  margin: -2px;
  float: left;

  width: 25px;
  max-width: 25px;
  height: 25px;

}


btn btn-success{
  float: right !important;
  margin-left: 50px;
}


.clear-button {
  position: relative; 
  top: 0; 

  border-radius: 5px; 
  right: -900px; 
  transform: scale(1.20);
  z-index: 5; 
  border: none; 
  top: -37px; 
  height: 30px; 
  cursor: pointer; 


 
   
}




.c1{
 padding: 1px;
}

.mat-card-footer{
  margin: 1%;
  padding:1px ;
background-color: rgb(3, 3, 122);


}


.example{
 
  width: 100% !important;

  
}
.example-input {
  width: 100% !important;
}

.table-table-bordered {
 border-color: black;
 padding: 5px;
border: #0a0b0b;
 
}
.example-spacer {
  flex:  auto;
  padding: 0;
  width: 18px;
}

.mat-row {
  height: 3px !important; /* Set your desired height here */
}

 .mat-row:hover {
  background-color: rgb(237, 237, 233);
}

mat-icon {
  font-size: 24px; /* Adjust the font size as needed */
  margin-right: 8px; /* Add some spacing between icons */
}

.box {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.95);

    
    height: 35px;
  
}
.boutn{

display: flex;
background-color: rgb(50, 60, 84) ;
text-align:center;
border-radius: 8px;
background-color:rgb(50, 60, 84) ;
justify-content: center;
padding: 10px; margin: 10px;
size: 18px;
}
.mat-header-cell, mat-cell {
  justify-content: center;
}



.ngc{
  cursor: pointer;
  border-radius: 5px;
  position: relative;
  padding-left: 0.5em;
  padding-right: 1em;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.ngc:hover {
  box-shadow: inset 0px -7px 15px #aefd2655 !important;
}

.cf:before, .cf:after{
  content:"";
  display:table;
}

.cf:after{
  clear:both;
}

.cf{
  zoom:1;
}
.form-wrapper {
  width: 450px;
  padding: 15px;
  margin: 150px auto 50px auto;
  background: #444;
  background: rgba(0,0,0,.2);
  border-radius: 10px;
  box-shadow: 0 1px 1px rgba(0,0,0,.4) inset, 0 1px 0 rgba(255,255,255,.2);
}

/* Form text input */

.form-wrapper input {
  width: 330px;
  height: 20px;
  padding: 10px 5px;
  float: left;    
  font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
  border: 0;

  border-radius: 3px 0 0 3px;      
}

.form-wrapper input:focus {
  outline: 0;

  box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}

.form-wrapper input::-webkit-input-placeholder {
 color: #999;
 font-weight: normal;
 font-style: italic;
}

.form-wrapper input:-moz-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}

.form-wrapper input:-ms-input-placeholder {
  color: #999;
  font-weight: normal;
  font-style: italic;
}    

/* Form submit button */
.form-wrapper button {
  overflow: visible;
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 110px;
  font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';

  text-transform: uppercase;
  background: #d83c3c;
  border-radius: 0 3px 3px 0;      
  text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
}   

.form-wrapper button:hover{     
  background: #e54040;
}   

.form-wrapper button:active,
.form-wrapper button:focus{   
  background: #c42f2f;
  outline: 0;   
}

.form-wrapper button:before { /* left arrow */
  content: '';
  position: absolute;
  border-width: 8px 8px 8px 0;
  border-style: solid solid solid none;
  border-color: transparent #d83c3c transparent;
  top: 12px;
  left: -6px;
}
.search-label {
  width: 40px;
  height: 40px;

}

.search-label span {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.form-wrapper button:hover:before{
  border-right-color: #e54040;
}

.form-wrapper button:focus:before,
.form-wrapper button:active:before{
      border-right-color: #c42f2f;
}      

.form-wrapper button::-moz-focus-inner { /* remove extra button spacing for Mozilla Firefox */
  border: 0;
  padding: 0;
}    

mat-button{
  

}