<!-- <button mat-icon-button style="float: right; margin: 5px; border-color: width;" (click)="this.closeDialog()"><mat-icon>close</mat-icon></button>

<h2 mat-dialog-title>Confirmation</h2>
<h3 style="margin-top: 10px; margin-left: 10px;">Are you sure want to Delete? contact with id:</h3>
<mat-dialog-content>
 
    <button mat-raised-button color="primary" (click)="logData(); delete(data.id)">Supprimer</button>
    <button mat-raised-button color="primary" (click)="delete(data.id)" style="margin-right: 10px;">Delete</button>
    <button mat-raised-button color="accent" (click)="this.closeDialog()">Cancel</button>
</mat-dialog-content> -->
<!-- 
<div>
    <div class="content-container">
        <mat-icon id="close-icon" (click)="closeDialog()" style="float: right; margin: 5px; border-color: width;" >close</mat-icon>


    </div>

<h3 style="margin-top: 10px; margin-left: 10px;">Are you sure want to Delete? contact with id:</h3>
 <button mat-raised-button color="primary" (click)="delete(data.id)" style="margin-right: 10px;">Delete</button>
    <button mat-raised-button color="accent" (click)="this.closeDialog()">Cancel</button>

</div>

 -->
