<nav class="navbar navbar-expand-lg navbar-light " style="background-color: #3C3C3C;">
  <a class="navbar-brand" href="#" word-wrap:break-word style="color: aliceblue;">CONTACT MANGEMENT APP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item active" style="margin-left: 300px;">
        <a class="nav-link " href="#"><span  style="color: aliceblue;"> Home </span></a>
      </li>

      
      <li class="nav-item">
        <a class="nav-link" routerLink="/list" style="color: aliceblue;" >LIST CONTACT</a>
      </li>
      <li class="nav-item ">
     
        <a mat-button  (click)="add(contact)" style="color: aliceblue; padding-top: 18px;">Create Account</a>
    
              
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">Login</a>
      </li>

      <form class="navbar-nav-search form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        
      </form>
    </ul>
 
  </div>
</nav>


<div class="body" style="background-color: #F3F3F3;">
<router-outlet></router-outlet>






</div>


<footer class="bg-body-tertiary text-center d-flex flex-column min-vh-50" style="background-color: #3C3C3C;">
  <div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Development</a></li>
                        <li><a href="#">Hosting</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Legacy</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>Careers</h3>
                    <ul>
                        <li><a href="#">Job openings</a></li>
                        <li><a href="#">Employee success</a></li>
                        <li><a href="#">Benefits</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Company Name © 2018</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>


</footer>